/**分页按钮*/
.el-pagination{
    float: right;
.el-pager {
        .number,.more {
            background: #fff !important;
            border-radius: 50% !important;
            width: 0.32rem !important;
            height: 0.32rem !important;
            line-height: 0.32rem !important;
        }
        .active {
            background: rgba(127, 99, 244, 1) !important;
            color: #fff;
        }
        }
        .btn-prev,
        .btn-next {
        background: #fff !important;
        border-radius: 50% !important;
        width: 0.32rem !important;
        height: 0.32rem !important;
        min-width: 0.32rem !important;
        min-height: 0.32rem;
        span {
            min-width: 0.32rem;
            line-height: 0.32rem;
            height: 0.32rem;
        }
    }
}

  /**表格高度*/
  .el-table .cell{
    padding: 2% 0 2% .1rem !important;
  }
  /**编辑按钮*/
  .el-button{
      padding: 0;
  }

  /*  el-button 通用class名*/
  .Pub_But{
    background: #7F63F4 !important;
    width: 1.50rem;
    height: .4rem;
    border-radius: 4px;
    background-color: rgba(127, 99, 244, 1) !important;
    color: rgba(255, 255, 255, 1);
    font-size: .18rem;
    text-align: center;
    border-color: rgba(127, 99, 244, 1) !important;
  }
  .Pub_But:hover{
    border-color: rgba(127, 99, 244, 1);
    background-color: rgba(127, 99, 244, 1);
  }
/** 滚动条样式*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: RGBA(243, 243, 243, 1);
}
.el-input__inner{
  height: .49rem;
}
input::placeholder{
  color: #c0C4CC;
}
textarea::placeholder{
  color: #c0C4CC;
}
.el-date-editor .el-range-separator{
  height: auto;
}
.el-upload__tip{
  margin-left: 15%;
}